<link rel="stylesheet" href="/css/user_login.css">
<div class="container" style="max-width: 300px;">
    <div class="card">
        <h1 class="mainHeading">Login</h1>
        <form action="/user/create-session" method="POST" class="form">
            <input type="email" name="email" class="form-control" placeholder="Enter Register Email" required> <br>
            <input type="password" name="password" class="form-control" placeholder="Password" required> <br>
            <input type="submit" class="btn btn-primary" style="width: 150px;" value="Sign In">
            <br>
            <br>
            <a href="/user/user-signup">Don't have account? </a> 
        </form>

        <p>

            <a href="/user/auth/google">Google Sign In/ Sign Up</a>

        </p>
    </div>
</div>